.home{
    height: 100vh; 
    background-image: url(Homepage1.jpg);
    background-size: cover;
    overflow-y: auto;
}

.align{
    width: 10rem;
    display: flex;
    justify-content: center;
}

.Dashboard-header {
    display: flex;
    height: 3rem;
    background-color: #3db03d;
}   

.Dashboard-text{
    font-weight: lighter;
    font-size: xx-large;
    margin: auto;
    color: white;
    font-family: math;

}

.right-corner{
    display: flex;
    padding: 5px;
    margin: 5px;
    padding: 0.2px;
    border-radius: 5px;
    border-color: transparent;
}
.app{
    display: flex;    
}
.app-content{
    flex: auto;

}

.icon{
    padding: 8px;
}
.user{
    padding: 8px;
    font-size: larger;
    background: #4ed3d3;
    font-family: none;
}
.logout{
    margin: 5px;
}
.logout-bt{
    background: bisque;
    border-color: transparent
}