.profile-main {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: lighter;
    font-family: system-ui;
    color: whitesmoke;
}
.profile-json{
    background: #7ccbcd;
    color: #181212;
}

.edit{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;

}
.edit form{
    display: flex;
    justify-content: center;
    background: azure;
    padding: 5px;
}
.width{
    width: 20rem;
}
.red{
    display: flex;
    justify-content: center;
    color: red;
}
.success{
    display: flex;
    justify-content: center;
    color: green;
}
.btt{
    border-color: aqua;
    font-size: larger;
    font-weight: lighter;
}

