.event-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #e3d3d3;
    border-radius: 8px;
    background-color: #b3cdde;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #1b3241;
    font-weight: lighter;
}

.event-form form {
    display: flex;
    flex-direction: column;
}

.event-form label {
    margin-bottom: 8px;
    font-weight: normal;
    color: #1b3241;
}

.event-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.event-form button {
    padding: 10px;
    background-color: #2e3f46;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.event-form button:hover {
    background-color: #218838;
}

.event-form p {
    margin-top: 20px;
    font-size: 16px;
    color: #28a745;
    text-align: center;
}