.profile-main {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: lighter;
    font-family: system-ui;
    color: whitesmoke;
}
.profile-json{
    background: #7ccbcd;
    color: #181212;
}

